-groups.each do |group|
  %ul.group-list
    %li.group-list__group-name
      %p #{group.group_name}
    %li.group-list__group-news
      -if group.messages.last.present?
        %p #{group.messages.last.body}
      -else
        %p 最新のメッセージはありません。
