%body
  .side-bar
    .user
      %ul.user-info
        %li.user-info__name
          %p #{current_user.name}
        %li.user-info__edit-group
          =link_to edit_user_path(@group, @message), method: :get do
            %i.fa.fa-cog

        %li.user-info__create-group
          =link_to new_group_path, method: :get do
            %i.fa.fa-pencil-square-o

    .groups
      =render partial: 'group', locals: {groups: @groups}

  .chat-show
    .chat-show-group
      %ul.chat-show-group__name
        %li.name
          %p sampleグループ
        %li.members
          %p Members: tarou, jirou
    .edit-button
      %button
        %p Edit
    .chat-list
      =render :partial => 'chat-list'
    .chat-form
      /%form
      =form_for [@group, @message] do |f|
        /%input.withicon{type: "text", name: "chat_text", rows: 1, cols: 30, placeholder: "type a message"}
        =f.text_field :body, placeholder: "type a message", rows: 1, cols: 30, class: "withicon"
        /%label.chat-file
        =f.label :image, class: "chat-file" do
          /%input.fileinput{"type"=> "file"}
          =f.file_field :image, class: "fileinput"
          %i.fa.fa-picture-o
        %input.send-button{type: "submit", value: "SEND"}








