!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    %div.side-bar
      %div.user
        %ul.user-info
          %li.user-info__name
            %p tarou
          %li.user-info__edit-group
            %a.icon.fa-cog{href: "sample"}
          %li.user-info__create-group
            %a.icon.fa-pencil-square-o{href: "sample"}

      %div.groups
        =render :partial => 'group'
