!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  %body
    %div.side-bar
      %div.user
        %ul
          %li.user-name
            %p tarou
          %li.edit-group
            %a.icon.fa-cog{href: "sample"}
          %li.create-group
            %a.icon.fa-pencil-square-o{href: "sample"}



