%body
  %div.notification チャットの投稿が完了しました。
  %div.side-bar
    %div.user
      %ul.user-info
        %li.user-info__name
          %p tarou
        %li.user-info__edit-group
          =link_to "users/#{@user.id}/edit", method: :get do
            %i.fa.fa-cog


        %li.user-info__create-group
          %a.icon.fa-pencil-square-o{href: "sample"}

    %div.groups
      =render :partial => 'group'

  %div.chat-show
    %div.chat-show-group
      %ul.chat-show-group__name
        %li.name
          %p sampleグループ
        %li.members
          %p Members: tarou, jirou
    %div.edit-button
      %button
        %p Edit
    %div.chat-list
      =render :partial => 'chat-list'
    %div.chat-form
      %form
        %input.withicon{type: "text", name: "chat_text", rows: 1, cols: 30, placeholder: "type a message"}
        %label.chat-file
          %input.fileinput{type: "file"}
          %i.fa.fa-picture-o
        %input.send-button{type: "submit", value: "SEND"}








