html, body {
  height: 100%;
  width: 100%;

  .side-bar{
    background-color: #2f3e51;
    height: 100%;
    width: 300px;
    float: left;

    .user {
      background-color: #253141;
      height: 96px;
      width: 100%;

        .user-info{
          width: 260px;
          list-style-type: none;
          margin: 0 auto;

          & li{
            margin-right: 5px;
          }

          &__name{
            float: left;
            padding-top: 40px;
            p{
              color: White;
              font-weight: bold;
              font-size: 16px;
            }
          }
          &__edit-group{
            float: right;
            padding-top: 40px;
            .fa-cog::before{
              color: White;
              content: "\f013";
              display: inline-block;
              margin-right: .5em;
              font-family: fontawesome;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }

          &__create-group{
            float: right;
            padding-top: 40px;
              .fa-pencil-square-o::before {
                color: White;
                content: "\f044";
                display: inline-block;
                margin-right: .5em;
                font-family: fontawesome;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }

          }
        }
    }
    .group-list{
      width: 260px;
      list-style-type: none;
      margin: 0 auto;
      padding-top: 20px;

      &__group-name p{
        font-size: 15px;
        color: White;
      }
      &__group-news p{
        font-size: 12px;
        color: White;
        margin-top: 5px;
        padding-bottom: 40px
      }
    }
  }

  .chat-show{
    background-color: #AAAAAA;
    height: 100%;
    width: calc(100vw - 300px);
    float: left;

    .chat-show-group{
      height: 96px;
      width: calc(100% - 120px);
      background-color: White;
      border-bottom-style: solid;
      border-bottom: -1px;
      border-bottom-color: #eeeeee;
      float: left;

      &__name {
        width: 600px;
        float: left;
        .name p{
        font-size: 20px;
        color: #333333;
        padding-top: 35px;
        padding-left: 40px;
        }
        .members p{
          font-size: 12px;
          color: #999999;
          margin-top: 15px;
          padding-left: 40px;
        }
      }
    }
    .edit-button{
      height: 96px;
      width: 120px;
      background-color: White;
      border-bottom-style: solid;
      border-bottom: -1px;
      border-bottom-color: #eeeeee;
      float: right;
      button{
        background-color: White;
        height: 40px;
        width: 70px;
        border-style: solid;
        border-color: #38AEF0;
        border: -1px;
        float: right;
        margin-right: 40px;
        margin-top: 28px;
        p{
          font-size: 15px;
          padding: 0 20;
        }
      }
    }
    .chat-list{
      height: 100%;
      width: 100%;
      background-color: White;
      padding-top: 142px;
      &__content{
        margin-left: 40px;
        padding-bottom: 40px;
        .member-name{
          font-size: 20px;
          float: left;
        }
        .chat-date{
          font-size: 15px;
          float: left;
          margin-left: 10px;
          padding-top: 5px;
        }
        .chat-text{
          margin-top: 10px;
          clear: both;
        }
      }
    }

  }
}



