html, body {
  height: 100%;
  width: 100%;

  .side-bar{
    background-color: #2f3e51;
    height: 100%;
    width: 300px;

    .user {
      background-color: #253141;
      height: 98px;
      width: 100%;

        .user-info{
          width: 260px;
          list-style-type: none;
          margin: 0 auto;

          & li{
            margin-right: 5px;
          }

          &__name{
            float: left;
            padding-top: 36px;
            p{
              color: White;
              font-weight: bold;
              font-size: 16px;
            }
          }
          &__edit-group{
            float: right;
            padding-top: 36px;
            .fa-cog::before{
              color: White;
              content: "\f013";
              display: inline-block;
              margin-right: .5em;
              font-family: fontawesome;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }

          &__create-group{
            float: right;
            padding-top: 36px;
              .fa-pencil-square-o::before {
                color: White;
                content: "\f044";
                display: inline-block;
                margin-right: .5em;
                font-family: fontawesome;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }

          }
        }
    }
    .group-list{
      width: 260px;
      list-style-type: none;
      margin: 0 auto;
      padding-top: 20px;
      &__group-name p{
        font-size: 15px;
        color: White;
      }
      &__group-news p{
        font-size: 12px;
        color: White;
        margin-top: 5px;
        padding-bottom: 40px
      }
    }
  }
}



