html, body {
  height: 100%;
  width: 100%;

  div.side-bar{
    background-color: #2f3e51;
    height: 100%;
    width: 300px;

    .user {
      background-color: #253141;
      height: 98px;
      width: 100%;

        ul{
          width: 260px;
          list-style-type: none;
          margin: 0 auto;

          li{
            margin-right: 5px;
          }


          li.user-name{
            float: left;
            padding-top: 36px;
            p{
              color: #FFFFFF;
              font-weight: bold;
              font-size: 16px;
            }
          }
          li.edit-group{
            float: right;
            padding-top: 36px;
            .fa-cog::before{
              color: #FFFFFF;
              content: "\f013";
              display: inline-block;
              margin-right: .5em;
              font-family: fontawesome;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }

          li.create-group{
            float: right;
            padding-top: 36px;
              .fa-pencil-square-o::before {
                color: #FFFFFF;
                content: "\f044";
                display: inline-block;
                margin-right: .5em;
                font-family: fontawesome;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
              }

          }
        }
    }
  }
}



